<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Online Checkout Form</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/app.css">
</head>
<body>
	<div class="container" id="app">
		<form>
			<div 
				class="row justify-content-center"
				v-for="(attendee, index) in attendees" 
				:key="index">
				
				<div class="col-sm-3">
					<div class="form-group">
						<label class="sr-only">Name</label>
						<input 
							class="form-control" 
							aria-describedby="emailHelp" 
							placeholder="Enter name" 
							v-model="attendee.name" 
							name="attendees[][name]" 
							required 
						>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="sr-only">Email address</label>
						<input
							class="form-control" 
							placeholder="Enter email" 
							v-model="attendee.email" 
							name="attendee[][email]" 
							required
						>
					</div>
				</div>
				<div class="col-sm-2 text-left">
					<button type="button" class="btn btn-light" @click="removeAttendee(index)" v-show="quantity > 1">
						<span aria-hidden="true">x</span> Remove</button>
				</div>

			</div>
			<div class="row justify-content-center">
				<div class="col-sm-6"></div>
				<div class="col-sm-2">
					<button type="button" class="btn btn-secondary" @click="addAttendee">Add Attendee</button>
				</div>
			</div>
			<hr>
			<div class="row justify-content-center">
				<div class="col-sm-6">
					<span class="unit-price">${{ cost }} ea.</span>
				</div>
				<div class="col-sm-2 text-left">
					<button type="submit" class="btn btn-primary">Pay ${{ checkoutTotal }}</button>
				</div>
			</div>
		</form>
	</div>

	<script src="https://unpkg.com/vue@2.4.4/dist/vue.js"></script>
	<script src="js/app.js"></script>
</body>
</html>